{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Django Public Blog - создать статью</title>
  <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="create-post">
  <div class="header">
    <img src="{% static 'img/logo.svg' %}" alt="Django public blog">
    <a class="all-posts" href="{% url 'archive' %}">Все записи</a>
  </div>
  <div class="content">
    <h1 class="post-title">Написать статью</h1>
    <form class="post-form" method="POST">
      {% csrf_token %}
      <input type="text" name="title" placeholder="Название статьи" aria-label="Название статьи" maxlength="200" value="{{ form.title }}" required>
      <textarea name="text" placeholder="Текст статьи" aria-label="Текст статьи" required>{{ form.text }}</textarea>
      {% if form.errors %}<p class="form-errors" role="alert">{{ form.errors }}</p>{% endif %}
      <input type="submit" value="Сохранить">
    </form>
  </div>
</body>
</html>
